<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Date of Journey - {{train.journey_date}}</h4>
       <form method="POST" action="{% url 'book' num=num query=query %}">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for f in formset %}
            {{ f.as_p }}
        {% endfor %}
        <h4>Current Wallet:{{w.balance}}</h4>
        <h4>Note:Upon submitting this form {{cost}} will be deducted from your Wallet,Kindly make sure you have sufficient balance.</h4>
        <button type="submit">Submit and pay</button>
    </form>
    <form method="POST" action="{% url 'dashboard'  %}">
        <button type="submit">Back to Dashboard</button>
    </form>
</body>
</html>